<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>

<div class="card">
  <div class="card-body">
    <h2 class = "card-title d-flex justify-content-between mb-4">
    <span> <%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning"%>
        <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </h2>


    <h4> Project Details </h4>
    <p class="card-body"> <%= @project.description %></p>
    <h3 class = "mt-8 mb-3">Add tasks to your project</h3>
      <%= form_for([@task.project, @task])do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>

          </div>
        <% end %>
        <%= f.hidden_field :status, value: 'not-started'%>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "type here ..." %>
        <div class="input-group-append">
          <%= button_tag type: 'Add Task', class: "btn btn-primary" do %>
              <i class="fas fa-plus-circle"></i>
          <% end %>
        </div>
      </div>
    <p class="mt-4"><small>Arrange your task with a simple drag and drop</small></p>
    <h3> <%= @project.task_counter %> Tasks so far </h3>
    <ul id = "tasks-list">
        <% @project.tasks.each do |task| %>
          <% if task.persisted? %>
          <li>
            <div class = "card mb-3">
              <div class = "card-body">
              <div class= "d-flex justify-content-between">
                <div>
                <i class="far fa-hand-paper"></i>
                <span class = "badge badge-<%= task.color_class%> mb-3"> <%= task.status %> </span>
                </div>
                <div>
                  <div class="dropdown float-left">
                    <button class="btn btn-sm mr-1 btn-<%= task.color_class %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= task.readable_status %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <% Task::STATUS_OPTIONS.each do |status| %>
                        <a class="dropdown-item" href="#"
                        data-reflex="click->StatusReflex#change"
                        data-id="<%= task.id %>"
                        data-status="<%= status[1] %>">
                          <%= status[0] %>
                        </a>
                      <% end %>
                    </div>
                  </div>
                  <%= link_to edit_project_task_path(task.project, task), class: 'btn btn-warning btn-sm' do %>
                    <i class='far fa-edit'></i>
                  <% end %>
                  <%= link_to [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                    <i class='fas fa-trash'></i>
                  <% end%>
                </div>
              </div>
                <h5 class= "card-title  mb-2">
                  <span> <strong> <%= task.name %> </strong> </span>
                </h5>
                <span> <%=task.description%> </span>
              </div>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<div class = "card mt-3">
<div class = "card-body">
    <strong>Project by User : <%= @project.user_id%> </strong>
  </div>
</div>
<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>
