<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>

<div class="card">
  <div class="card-body">
    <h2 class = "card-title d-flex justify-content-between mb-4">
    <span> <%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning"%>
        <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </h2>

    <% if @project.photo.attached? %>
      <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60", height: 300, width: 300, crop: :fill %>
    <% end %>

    <h4 class="mt-3"> Project Details </h4>
    <p class="card-body"> <%= @project.description %></p>
    <h3 class = "mt-8 mb-3">Add tasks to your project</h3>
      <%= form_for([@task.project, @task])do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
      <% end %>

        <%= f.hidden_field :status, value: 'not-started'%>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "type here ..." %>
        <div class="input-group-append">
          <%= button_tag type: 'Add Task', class: "btn btn-primary" do %>
              <i class="fas fa-plus-circle"></i>
          <% end %>
        </div>
      </div>

    <p class="mt-4"><small>Arrange your task with a simple drag and drop</small></p>
    <h3> <%= @project.task_counter %> Tasks so far </h3>

    <div data-controller = "tasks">
      <ul id = "tasks-list" data-action="drop->tasks#sort">
          <% @project.tasks.order(rank: :asc).each do |task| %>
            <% if task.persisted? %>
            <li class="task-item" data-task-id="<%= task.id %>">
              <div class = "card mb-3">
                <div class = "card-body">
                <div class= "d-flex justify-content-between">
                  <div>
                  <i class="far fa-hand-paper"></i>
                  <span class = "badge badge-<%= task.color_class%> mb-3"> <%= task.status %> </span>
                  </div>
                  <div>
                    <div class="dropdown float-left">
                      <button class="btn btn-sm mr-1 btn-<%= task.color_class %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= task.readable_status %>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% Task::STATUS_OPTIONS.each do |status| %>
                          <a class="dropdown-item" href="#"
                          data-reflex="click->StatusReflex#change"
                          data-id="<%= task.id %>"
                          data-status="<%= status[1] %>">
                            <%= status[0] %>
                          </a>
                        <% end %>
                      </div>
                    </div>
                    <%= link_to edit_project_task_path(task.project, task), class: 'btn btn-warning btn-sm' do %>
                      <i class='far fa-edit'></i>
                    <% end %>
                    <%= link_to [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
                      <i class='fas fa-trash'></i>
                    <% end%>
                  </div>
                </div>
                  <h5 class= "card-title  mb-2">
                    <span> <strong> <%= task.name %> </strong> </span>
                  </h5>
                  <span> <%=task.description%> </span>
                </div>
              </div>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>

  </div>
</div>
<div class = "card mt-3">
<div class = "card-body">
    <strong>Project by User : <%= @project.user_id%> </strong>
  </div>
</div>
<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>
