<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>

<div class="card">
  <div class="card-body">
    <h2 class = "card-title d-flex justify-content-between mb-4">
    <span> <%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning"%>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </h2>
    <h3> Description </h3>
    <p class="card-body"> <%= @project.description %></p>
    <h3 class = "mt-3 mb-3">Add tasks to your project</h3>
      <%= form_for([@task.project, @task])do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :status, value: 'not-started'%>
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "type here ..." %>
        <div class="input-group-append">
          <%= f.submit class: "btn btn-success" %>
        </div>
      </div>
      <br>
      <br>
      <br>
    <h3> <%= @project.task_counter %> Tasks so far </h3>
    <ul id = "tasks-list">
        <% @project.tasks.each do |task| %>
          <% if task.persisted? %>
          <li>
            <div class = "card mb-3">
              <div class = "card-body">
              <div class= "d-flex justify-content-between">
                <div>
                <%# Why is this not working ? %>
                <i class="fas fa-grip-vertical"></i>
                <span class = "badge badge-<%= task.badge_color %> mb-3"> <%= task.status %> </span>
                </div>
                <div>
                  <%= link_to 'Edit', edit_project_task_path(task.project, task), class: "btn btn-warning btn-sm" %>
                  <%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                </div>
              </div>
                <h5 class= "card-title  mb-2">
                  <span> <strong> <%= task.name %> </strong> </span>
                </h5>
                <span> <%=task.description%> </span>
              </div>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<div class = "card mt-3">
<div class = "card-body">
    <strong>Project by User : <%= @project.user_id%> </strong>
  </div>
</div>
<%= link_to '<< Back', projects_path, class: "btn btn-light mb-3 mt-3" %>
