<%= link_to '<< Back', projects_path, class: "btn btn-light m-3" %>

<div class="card">
  <div class="card-body">
    <h2 class = "card-title d-flex justify-content-between mb-4">
    <span> <%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning"%>
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </h2>
    <h3> Description </h3>
    <p class="card-body"> <%= @project.description %></p>
    <h3> Task List </h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      <% @project.tasks.each do |task| %>
        <%if task.persisted? %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.status %></td>
            <td><%= link_to 'Show', [task.project, task] %></td>
            <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
            <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%end%>
      <% end %>
    </table>
    <h3>Add tasks to your project</h3>
      <%= form_for([@task.project, @task])do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

            <ul>
            <% @task.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <div class="input-group">
      <%= f.text_field :description, class: 'form-control', placeholder: "enter description" %>
      <div class="input-group-append">
        <%= f.submit class: "btn btn-success" %>
      </div>  
    </div>
<% end %>
 
  </div>
</div>

<%# Here you want to add user card - i.e info, photo, follower count ect %>
<p>
  <strong>Project by User : <%= @project.user_id%></strong>
</p>

<%= link_to '<< Back', projects_path, class: "btn btn-primary" %>